@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir/Vazir.eot');
  src: url('../fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir/Vazir.woff') format('woff'),
       url('../fonts/Vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
}
      
@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir/Vazir-Bold.eot');
  src: url('../fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir/Vazir-Bold.woff') format('woff'),
       url('../fonts/Vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir/Vazir.eot');
  src: url('fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir/Vazir.woff') format('woff'),
       url('fonts/Vazir/Vazir.ttf') format('truetype');
  font-weight: normal;
}
      
@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir/Vazir-Bold.eot');
  src: url('fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir/Vazir-Bold.woff') format('woff'),
       url('fonts/Vazir/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir/Vazir-Light.eot');
  src: url('../fonts/Vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir/Vazir-Light.woff') format('woff'),
       url('../fonts/Vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir/Vazir-Light.eot');
  src: url('fonts/Vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir/Vazir-Light.woff') format('woff'),
       url('fonts/Vazir/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}


*{
  font-family: Vazir;
}

body , table {
	font-family: Vazir;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(236, 181, 62, 0.95);
	text-align: center;
	font-weight: 300;
	direction: rtl;
	-webkit-font-smoothing: antialiased;
  }
  
	a{
		text-decoration: none;
		color: inherit;
		margin: 1em;
	}
	
	table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {
	background-color: rgba(59, 59, 59, 0.2);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}



  #contact-form {
	max-width: 90%;
	margin: 0 auto;
  }
  
  label {
	font-weight: 400;
	cursor: pointer;
  }
  
	select,
	a,
  textarea,
  input {
	display: block;
	margin: 0 auto 0 auto;
	border: none;
	outline: none;
	border-radius: 0;
	text-align: center;
	background: none;
	font-weight: 700;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	max-width: 90%;
	padding: 1rem;
	border: 2px dashed rgba(255, 255, 255, 0);
	box-sizing: border-box;
	cursor: text;
	}
	a{
		cursor: pointer;
	}
	
	option{
		background-color: rgb(236, 181, 62);
	}
  
  textarea {
	text-align: left;
	/* overflow:hidden; */
	
	resize: none;
	width: 90%;
	border-color: rgba(255, 255, 255, 0)
  }
  
  textarea:focus {
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px dashed rgba(255, 255, 255, 1);
  }
  
  textarea:focus:required:valid {
	border: 2px solid rgba(255, 255, 255, 0);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  textarea:required:valid {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
	input,
	select,
	a {
	border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  }
  
  input:required,
  textarea:required {
	border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  }
  
  input:focus {
	border-bottom: 2px dashed rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  input:required:valid {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  input:required:invalid {
	color: rgba(255, 255, 255, 0.5);
  }
  
  ::-webkit-input-placeholder {
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 400;
  }
  
  :-moz-placeholder {
	/* Firefox 18- */
	
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 400;
  }
  
  ::-moz-placeholder {
	/* Firefox 19+ */
	
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 400;
  }
  
  :-ms-input-placeholder {
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 400;
  }
  
  .expanding {
	vertical-align: top;
  }
  
  .send-icn {
	fill: rgba(255, 255, 255, 1)
  }
  
  .send-icn:hover {
	fill: rgba(0, 0, 0, 1);
	cursor: pointer;
  }
  
  button {
	background: none;
	border: none;
	outline: none;
	margin: 2vmax;
  }
  
  button:hover small {
	opacity: 1;
  }
  
  small {
	display: block;
	opacity: 0;
  }
  
  .website {
	opacity: 1;
	font-size: 16px;
	color: white;
	position: relative;
	text-align: center;
	display: block;
	margin-top: 7%;
	
  }
  
  .website a {
	color: white;
  }
  